<div id="section-portfolio">

  <input id="toggle-nav-open-checkbox-v1" type="checkbox" class="input-v1" />
  <label for="toggle-nav-open-checkbox-v1" class="label-v1" >
<div id="header-websites">web development portfolio</div>
</label>

  <div class="portfolio-client-list-wrap">
      <h2>Featured Publications</h2>


      <div class="web-subsect-col">
          <input id="toggle-nav-open-checkbox-v1-b" type="checkbox" class="input-v1-b" />
          <label for="toggle-nav-open-checkbox-v1-b" class="label-v1-b web-port-sub-labels" >

      <div class="logo-img-wrap logo-wrap-gc">
          <img src="assets/GCPFunk-Official_Logo-300x153.png" alt="George Clinton Parliament Funkadelic Logo" class="logo-imgs">
      </div>			
</label>
          <!-- portfolio-sub-section -->
          <div class="web-sub-section-v2 web-sub-sect">
              <h2>Client:</h2>
              <h4>C Kunspyruhzy Records, Inc.</h4>
              <h4>George Clinton Parliament Funkadelic</h4>
              <h2>Project:</h2>
              <h4>Website Redevelopment</h4>
              <h2>Estimated product change:</h2>
              <h4>~75%</h4>
              <h2>Published:</h2>
              <h4>March 29th, 2018</h4>
              
              <h2>My role(s):</h2>
              <h4>- Lead Full Stack Developer -</h4>
              <h4>- System Admin -</h4>
              <h2>Website URL:</h2>
              <a class="web-client-link" href="https://georgeclinton.com/" rel="nofollow noopener" target="_blank" >
                  <h4><span class="glyphicon glyphicon-new-window"></span>https://georgeclinton.com</h4>
              </a>
                  

          </div>
      </div>


      <div class="web-subsect-col">
          <input id="toggle-nav-open-checkbox-v1-a" type="checkbox" class="input-v1-a" />
          <label for="toggle-nav-open-checkbox-v1-a" class="label-v1-a web-port-sub-labels" >
          <div class="logo-img-wrap logo-wrap-fdoe">
              <img src="assets/elections-logo-transparent.png" alt="Florida Division of Elections Logo" class="logo-imgs fdoe-logo">
          </div>
</label>
          <!-- portfolio-sub-section -->
          <div class="web-sub-section-v1 web-sub-sect">
              <h2>Employer:</h2>
              <h4>Florida Department of State</h4>
              <h2>Project:</h2>
              <h4>Florida Online Voter Registration System (FOVRS)</h4>
              <h4>New Web Application Development</h4>
              <h2>Estimated product change:</h2>
              <h4>~100%</h4>
              <h2>Published:</h2>
              <h4>October 1st, 2017</h4>
              
              <h2>My role(s):</h2>
              <h4>- Front-end Developer -</h4>
              <h4>(Responsive design)</h4>
              <h4>(Web accessibility guidelines)</h4>
              <h2>Website URL:</h2>
              <a class="web-client-link logo-link-fdoe" href="https://registertovoteflorida.gov/" rel="nofollow noopener noreferer" target="_blank" >
                  <h4><span class="glyphicon glyphicon-new-window"></span>https://registertovoteflorida.gov</h4>
              </a>

          </div>
      </div>

      <div class="web-subsect-col">
          <input id="toggle-nav-open-checkbox-v1-c" type="checkbox" class="input-v1-c" />
          <label for="toggle-nav-open-checkbox-v1-c" class="label-v1-c web-port-sub-labels" >
          <div class="logo-img-wrap logo-wrap-chan">

              <img src="assets/chan-logo-v2.jpg" alt="Tallahassee Chan Center Logo" class="logo-imgs logo-chan">

          </div>
</label>
          <!-- portfolio-sub-section -->
          <div class="web-sub-section-v3 web-sub-sect">
              <h2>Client:</h2>
              <h4>Tallahassee Chan Center</h4>
              <h2>Project:</h2>
              <h4>Website redevelopment</h4>
              <h2>Estimated product change:</h2>
              <h4>~50%</h4>
              <h2>Published:</h2>
              <h4>July 17th, 2017</h4>
              <h2>My role(s):</h2>
              <h4>- Lead Full Stack Developer -</h4>
              <h4>- System Admin -</h4>
              <h2>Website URL:</h2>
              <a class="web-client-link" href="https://tallahasseechan.org/" rel="nofollow noopener noreferer" target="_blank" >
                  <h4><span class="glyphicon glyphicon-new-window"></span>https://tallahasseechan.org</h4>
              </a>
          </div>
      </div>

  </div>
</div>
<!--
<div id="section-portfolio-v2">
  <input id="toggle-nav-open-checkbox-v2" type="checkbox" class="input-v2"/>
  <label for="toggle-nav-open-checkbox-v2" class="label-v2">
<div id="header-websites">a u d i o &nbsp;  p o r t f o l i o</div>
</label>
  <div id="section-media">
      <p style="text-align: center;">
          <h4>Mixing credits:</h4>
          <br>
          <span class="portfolio-details">Chief audio engineer under the direction of producer George Clinton in the studio mixing sessions for the final mixes of the two songs below, <i>Yellow Light</i> and <i>Mathematics of Love</i>, as is reflected in the album credits of <i>first ya gotta Shake the Gate</i> by the band Funkadelic, "Mixed by William Tyler Pelt at What Studios, Tallahassee, FL".</span>
          <div class="spotify-embeds">
              <div class="spotify-embed">
                  <iframe src="https://embed.spotify.com/?uri=spotify:track:6mHRW4oL5ShnCmUKqEcp8f" width="340" height="80" frameborder="0" allowtransparency="true"></iframe>
              </div>
              <div class="spotify-embed">
                  <iframe src="https://embed.spotify.com/?uri=spotify:track:2HZwQA04Tr1k9SJK0C2inK" width="340" height="80" frameborder="0" allowtransparency="true"></iframe>
              </div>
          </div>
  </div>
</div>
-->